@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

.titulo{
    font-family: 'Sarala';

}
.descricao{
    font-family: cursive;
    background-color: aliceblue;

}
.botao{

}
.conteudo-principal{
    background-color: rgb(28, 122, 30);
}